.parallax { 
    /* The image used */
    background-image: url("/assets/image/parallax.jpg");

    /* Set a specific height */
    min-height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 18px;
    font-size: 30px;
    letter-spacing: 10px;
}
